
{% load static %}

<div class="jumbotron text-center" style="margin-bottom:0">
    <!-- <div class="container"> -->
    <!-- <div class="row"> -->
        <!-- <div class="col-xs-8 col-sm-10 col-md-10"> -->
            <h1>Español para todos</h1>
            <p>利用統計語言學有效率地學西文</p>
        <!-- </div> -->
        <!-- <div class="col-xs-4 col-sm-2 col-md-2"> -->
            <!-- <div class="thumbnail"> -->
                <!-- <img src="{% static "image/spain.png" %}" alt="My image"> -->
            <!-- </div> -->
        <!-- </div> -->
    <!-- </div> -->
</div>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand" href="/root/">Español</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
            <li class="active"><a href="/root/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
            <!-- <li><a href="#shop"><span class="glyphicon glyphicon-shopping-cart"></span> Shop</a></li> -->
            <!-- <li><a href="#support"><span class="glyphicon glyphicon-headphones"></span> Support</a></li> -->
        </ul>
      </div>
    </div>
</nav>
  
